  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" style="font-family: 'Poppins', sans-serif; font-weight: 700" href="/">
        <img src="<%- logoURL %>" style="border-radius: 1.5rem;" alt="Logo" height="36" width="36">
        <%- title %>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <% Object.entries(navItems).forEach((navItem) => { %>
              <% if (navItem[1].type === "link") { %>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="<%- navItem[1].href %>"><%- navItem[1].image %> <%- navItem[0] %></a>
                </li>
              <% } else if (navItem[1].type === "dropdown") { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%- navItem[0] %></a>
              
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: var(--bs-primary)">
                    <% Object.entries(navItem[1].items).forEach((dropItem) => { %>
                      <li>
                        <a class="dropdown-item" href="<%- dropItem[1].href %>"><%- dropItem[1].image %> <%- dropItem[0] %></a>
                      </li>
                    <% }) %>
                  </ul>
                </li>
              <% } %>
            <% }) %>
          </ul>
          <ul class="navbar-nav ss-icons mr-0">
            <% Object.entries(buttons).forEach((button) => { %>
              <!--  <%- button[0] %> 
              style="position: relative;top: 1.5px;right: 4px;font-size: larger;">
              -->
              <li class="nav-item">
                <button type="button" class="nav-link social col btn text-white fw-bold mx-1" style="background: <%- button[1].color %>;width: 45px" link="<%- button[1].href %>" role="button" data-mdb-ripple-color="blue">
                  <i class="<%- button[1].icon %>"></i>
                </button>
              </li>
            <% }) %>
          </ul>
        </div>
    </div>
  </nav>